[2016-06-12 05:24] gossion opened #3 "Add retry for broker db operation"
meta-azure-service-broker currently use azure sql as database to log status of provision,deprovision, etc. of a service. Sometimes it fails to connect to azure sql or fails to insert/rm/update a record, and thus lead the failures of subsequent operations. In this case, a retry is needed.

[2016-06-12 15:23] bingosummer opened #4 "unify the name and parameters for each service"
1. Some service name begins with `azure`, and some doesn't. Please unify the names.
2. The same parameters such as `resource_group_name` are using in several brokers when provisioning a service, but they have different name (resource_group_name, resourceGroupName). Please unify these parameters so as not to confuse users.

[2016-06-22 19:42] sebastus commented on #4
1. I assume you mean in the service.json.  I updated the doc db service description to "Azure DocumentDb Service".
2. In what context?  And which spelling do you prefer?

[2016-06-24 00:11] bingosummer commented on #4
1. For example, https://github.com/Azure/meta-azure-service-broker/blob/master/lib/services/azurerediscache/service.json#L3. The name is `RedisCacheService` which may be confused with the community or pivotal redis service.
2. In the parameters file for each service, the parameter names are different in the format. I prefer `resource_group_name`.

Don't worry. I will update all of them. This issue

[2016-08-15 01:37] #3 closed

[2016-08-29 19:40] CraigWiand opened #18 "Service broker documentation and steps should define roles and permissions needed for service principal"
A service broker (e.g. Storage account broker) runs under the identity of a defined service principal.  When the Cloud Foundry administrator deployed, the service principal was [delegated certain role assignments](https://github.com/cloudfoundry-incubator/bosh-azure-cpi-release/blob/master/docs/get-started/create-service-principal.md#241-assigning-roles): "Virtual Machine Contributor" and "Network

[2016-08-29 19:43] CraigWiand opened #19 "Example for blob service could be improved"
https://github.com/Azure/meta-azure-service-broker/blob/master/docs/azure-storage-blob.md#create-an-azure-storage-blob-service

Per the installation instructions:
[code]
should really be:
[code]

[2016-08-30 16:03] CraigWiand opened #20 "Example for using azure storage client needs to incude step to modify service name"
https://github.com/Azure/meta-azure-service-broker/blob/master/docs/azure-storage-blob.md#binding
 Step 1 instructs to just build and push.  If you follow the previous examples you will get a failure to start the application.  In the logs you will see:

This is because the service name is hard coded in the sample app as `azurestorageblob` but in the examples in the walkthrough the name used is `az

[2016-08-30 23:03] bingosummer commented on #20
Thanks @CraigWiand for reporting this. I also find this issue when I walkthrough the doc yesterday and It's fixed now.

[2016-08-30 23:03] #20 closed

[2016-08-31 02:36] bingosummer commented on #19
Thanks @CraigWiand .
Fixed in 2344051965bf1f754f856bf779e61641c47c4792

[2016-08-31 02:36] #19 closed

[2016-09-02 08:18] #18 closed

[2016-09-08 19:45] chomipi opened #24 "enable TDE parameter for SQL DB in json parameters file"
We have a requirement to enable TDE (Transparent Data Encryption) on the SQL DBs that are created using the service broker. Can you add a parameter/flag to have this enabled at DB creation time?

[2016-09-16 00:54] bingosummer opened #27 "Change the current plan of azure-servicebus into three plans: basic, standard and premium"
https://azure.microsoft.com/en-us/pricing/details/service-bus/

In each plan, we should have different costs.

[2016-10-08 09:05] bingosummer opened #35 "Refine the jdbcUrl in sqldb in #34"
#34
1. jdbcUrl credential is not supported for `AzureChinaCloud` because the sql endpoint is not the same.
2. We need to find a way to get jdbcUrl from Azure directly. With this, we don't need to concat the string by ourselves.

[2016-11-16 06:40] #35 closed

[2016-11-18 13:13] chrisumbel opened #62 "Authentication not working after service created"
When I create a service with a "sqlServerParamerters" configuration section like:

		"location": "eastus",
		"properties": {
			"administratorLogin": "admin",
			"administratorLoginPassword": "P455w0rd"
		}

my login is denied with those credentials.

If I inspect my VCAP_SERVICES for a service binding to this service "administratorLogin" and "administratorLoginPassword" are shown to be present in

[2016-11-21 06:21] bingosummer commented on #62
Thanks @chrisumbel for reporting this.
@zhongyi-zhang please help to investigate.

[2016-11-21 07:17] zhongyi-zhang commented on #62
Hi Chris,
I tried the configuration below,
[code]
then got the binding result below:
[code]
Those two are not null.
Sorry about that we can't reproduce it. Could you provide some steps to repro?
Thanks!

[2016-11-22 12:37] chrisumbel commented on #62
I'm working with a customer on this one. I'll get the full config with redacted sensitive information and show you the entire creating/binding process.

[2016-11-29 03:20] bingosummer commented on #62
@chrisumbel Any updates?

[2016-11-30 00:27] niroyb opened #68 "Deprecated package warnings during npm install"
Running `npm install` on a fresh system yields these warnings:
[code]

[2016-12-01 23:35] bingosummer commented on #62
@chrisumbel

FYI: To enable the debugging option, you can refer to https://github.com/Azure/meta-azure-service-broker/blob/master/docs/how-admin-deploy-the-broker.md#debug-logging.

[2016-12-02 01:25] chrisumbel commented on #62
We've engaged support and they've reproduced the issue and are working with us. Going to close this issue.

[2016-12-02 02:17] bingosummer commented on #62
That's good. If anything I can help, please involve me in the support ticket.

[2016-12-02 09:38] bingosummer commented on #68
@niroyb
Only `node-uuid@1.4.7` is installed directly in [package.json](https://github.com/Azure/meta-azure-service-broker/blob/master/package.json#L38). `tough-cookie@2.2.2` and etc. are dependencies of other packages. So if other packages do not update them to the new versions, we will still have these warnings.
At this point, what we can do is to upgrade `node-uuid@1.4.7` to `uuid@3.0.0` if ther

[2016-12-02 19:43] niroyb commented on #68
If there are no breaking changes and it fixes issues from the deprecated dependencies then we should definitely upgrade.

[2016-12-08 12:44] cpage-pivotal opened #70 "Version 1.1.0 .pivotal throws Node exception when target SQL Server is unreachable"
Running with Ops Manager 1.18.10 on Azure. Installing the tile fails with the following messages:

[code]

[2016-12-09 06:31] bingosummer commented on #70
@cpage-pivotal This is a bug of the broker. It will be triggered when the sql server can't be connected. We will fix it ASAP.

Meanwhile, could you please confirm the following items. If the sql server can be connected successfully, the issue should be gone.

1. Check the connection information.

[code]

  You can check it via `mssql --server "<server-name>.database.windows.net" --database <databa

[2016-12-09 12:51] cpage-pivotal commented on #70
Thanks, I will verify connectivity!

[2016-12-13 09:33] bingosummer commented on #70
@cpage-pivotal
How is it going?
Here is a pre-release v1.2.0.rc1. In this version, if it fails to connect the database, it will retry and give a readable error message. Would you like to try it?
https://github.com/Azure/meta-azure-service-broker/releases/download/v1.2.0.rc1/azure-service-broker-1.2.0.rc1.pivotal

[2016-12-13 15:22] cpage-pivotal commented on #70
Thanks, I cleared up the connectivity issues, and everything worked great. I have changed the issue title to properly reflect the problem. I will test the 1.2.0 tile when I get a chance.

[2016-12-16 00:02] niroyb commented on #24
I'll work on this, here is a task breakdown:
- [ ] Extend [examples/sqldb-example-config.json](../blob/master/examples/sqldb-example-config.json) schema
- [ ] Update [azure-sql-db.md](../blob/master/docs/azure-sql-db.md) with new option
- [ ] Implement [TDE api](https://docs.microsoft.com/en-us/rest/api/sql/databases#Databases_CreateOrUpdateTransparentDataEncryptionConfiguration)
- [ ] Add tests

[2016-12-16 00:29] bingosummer commented on #70
Closing it as it's fixed in `v1.2.0`.
Feel free to reopen it if you still hit the issue.

[2016-12-16 00:29] #70 closed

[2016-12-28 23:36] mdcarlson opened #75 "Configuration parameter name Azure resource group is not consistent"
The name of the parameter used to provide the name of the Azure resource group is not consistent.

The name is _resourceGroup_ for
- Redis Cache
- DocumentDB
- SQLDb

The name is _resource_group_name_ for
- Storage
- Service Bus

Could a consistent name be used?  This will help as more services get added in the future.

Mark

[2017-01-31 00:10] lilyfang opened #79 "Hit an error when following up the instructions for service broker test"
By following up the instructions @https://github.com/Azure/meta-azure-service-broker/tree/master/test, an error will be hit as below,
li@liubuntu:~/meta-azure-service-broker$ npm test

/usr/bin/env: ‘node’: No such file or directory
npm ERR! Test failed.  See above for more details

[2017-01-31 02:51] bingosummer commented on #79
`/usr/bin/env: ‘node’: No such file or directory` means that the node engine (nodejs) is not installed correctly. You need to install nodejs and npm correctly.

For `Ubuntu 14.04`, you need to run `sudo apt-get install nodejs-legacy`. I guess that you are using `sudo apt-get install nodejs` on `Ubuntu 14.04` which creates a link `/usr/bin/nodejs` instead of `/usr/bin/node`. If that's the case, cou

[2017-02-07 20:12] lilyfang commented on #79
Creating a soft link manually solves the issue. However, I am using Ubuntu 16.04, not 14.04.

[2017-02-07 23:55] #79 closed

[2017-02-15 16:46] cwsteve2117 opened #82 "Update Tile stemcell"
The current version of the Azure service broker is on Stemcell 3263. Can you move to the latest 3312 on the next release?

[2017-02-15 16:56] bingosummer commented on #82
Will upgrade the version in the next release.

[2017-02-17 16:50] nsagoo-pivotal opened #83 "Deleting a sql db service does not delete the appropriate sql server on azure"
While we are allowed to provision new sql serves and new sql databases using the broker, when a delete-service command is issue, it appears that the sql database is deleted but the server continues to stay active. Why does this happen? Should a user be able to create and delete both databases and sql servers on demand without using the portal?

E.g.

▶ cf ds afcea-sql-server -f
Deleting service af

[2017-02-18 09:55] bingosummer commented on #83
Yes. The behavior is expected. Even if it's allowed to create a new sql server, there is a possibility that the user creates multiple databases in a shared sql server. Considering this case, the broker don't delete the sql server when one of the databases is deleted.

[2017-02-24 09:52] #24 closed

[2017-03-09 06:52] bingosummer commented on #62
I think, the issue has been resolved. Do you feel comfortable to close it?

[2017-03-10 06:17] #68 closed

[2017-03-22 02:30] bingosummer commented on #82
Closing due to v1.2.1 is released.

[2017-03-22 02:30] #82 closed

[2017-04-27 21:03] krancour opened #96 "Make deployable to Kubernetes"
The [kubernetes-incubator/service-catalog](https://github.com/kubernetes-incubator/service-catalog) adapts OSB brokers to a k8s-native workflow. i.e. It allows off-cluster, managed services (like those managed by this broker) to be provisioned and bound by creating k8s resources.

The docs in this repo assume the operator is deloying to CF, but if there is any other aspect of this broker that coup

[2017-04-27 21:34] krancour commented on #96
@niroyb it looks like you're an admin for this repo. Could you possibly assign this issue to me to avoid the potential for duplicate efforts?

[2017-04-27 23:21] #83 closed

[2017-04-28 09:34] bingosummer commented on #96
Thanks @krancour for the proposal. It's great if you can submit a PR to support deploying in k8s.
If you could provide some guidance for how to deploy it, then we can help verify the PR from our side.

[2017-05-02 18:28] krancour commented on #96
I'm going to back off of this a little bit... I really just want to get this Dockerized instead. (Will open a new issue for that.) Deployment to k8s can be handled by the addition of the chart to [kubernetes/charts](https://github.com/kubernetes/charts) instead. That is a better and more strategic home for all such charts anyway.

[2017-05-02 18:28] #96 closed

[2017-05-02 18:30] krancour opened #98 "Dockerize this broker"
Doing so is a stepping stone toward including a Heml chart in [kubernetes/charts](https://github.com/kubernetes/charts) that will facilitate deployment of this broker to Kubernetes.

[2017-05-05 10:04] #98 closed

[2017-05-16 05:55] bingosummer commented on #62
Closing it. Feel free to re-open it if you still hit it.

[2017-05-16 05:55] #62 closed

[2017-05-28 19:56] nevenc-pivotal opened #106 "Configure tools to generate "offline" version of the tile."
Some enterprise environments do not allow NPM registry and other online repositories. Can you make a version of the tile that includes node_modules, and uses cached version of the buildpack (not pointing to github)?

[2017-06-13 15:52] krancour opened #114 "postgresqldb and mysqldb modules do not provision databases"
Contrasted with the existing sqldb module, which creates SQL Servers _and_ databases on those servers, the new postgresqld and mysqldb modules provision servers _only_; and not databases...

I believe this is something of a problem because, generally speaking, a _database_ is what a user or application seeks to provision and bind to. The requirement that the database live on a server is just an in

[2017-06-13 17:55] krancour opened #115 "Proposal: wherever possible, provide sensible defaults for parameters"
There's probably some room for debate in terms of which parameters are affected, but I believe that there are probably several cases where overall user experience can be improved by providing sensibly defaulted parameters (instead of absolutely requiring a user to provide them).

For example...

In provisioning a database server (SQL Server, Postgres server, MySQL server-- applies to all), it's pr

[2017-06-13 18:04] arschles commented on #115
+1 on this. My point of view is from the [service-catalog](https://github.com/kubernetes-incubator/service-catalog) project. This functions basically as the equivalent of a marketplace in Cloud Foundry terms.

Service-Catalog is a layer between a Kubernetes cluster and the brokers. When broker servers require parameters, service-catalog must require the users to pass parameters from Kubernetes. We

[2017-06-13 18:10] krancour commented on #115
And to follow up on @arschles comment above, Open Service Broker is looking to introduce schemas in a future version of the spec that will further promote uniform parameter names and credential properties across providers... but until that is in place (and until brokers implement it), requiring fewer parameters is a tactical step toward promoting better (albeit imperfect) portability.

[2017-06-14 03:31] zhongyi-zhang commented on #114
@krancour, I agree with you.
But for MySQL and PostgreSQL, when user deletes the service instance, the broker shouldn't delete the database only and leave the server just like what sqldb does because they are billed based on the server (on the database for sqldb).
If deleting server, that means 1 server : 1 instance. I think it is better to allow app to manage the whole MySQL instance instead of a

[2017-06-14 13:38] pburkholder opened #117 "Add support for USGov and Germany"
This looks really interesting. Any reason it can't be extended to support UsGov and Germany?

Thanks!

-Peter

[2017-06-14 13:43] bingosummer commented on #117
Thanks for raising this. We are working on supporting UsGov and Germany.

[2017-06-23 01:26] abhilash07 opened #119 "can possible to add Azure IoT, web+mobile services to Cloud Foundry Service Instances"
Hi i successfully create service instance of Databases Microsoft services in cloud foundry . Thanks for the opensource azure service broker. we are lokking to add IoT and Web+Mobile services in our Cloud Foundry Market places. Is there any way to create oT and Web+Mobile services in our Cloud Foundry Market places.

Regards

Abhilash S

[2017-06-23 03:37] bingosummer commented on #119
Hi @abhilash07 ,
For now, IoT and Web+Mobile services are not supported in azure service broker. This work item is in our pipeline. But we have not started it.

[2017-06-23 04:41] abhilash07 commented on #119
hi @bingosummer ,
thanks for your information.

[2017-06-26 01:31] bingosummer commented on #106
Fixed by #116

[2017-06-26 01:31] #106 closed

[2017-06-27 09:00] #119 closed

[2017-06-28 03:25] VenkateshSrini opened #121 "Writing the service broker in .NEt core using EF"
Hi,
Will it be possible to write the broker in .NET core using the SDk
https://github.com/hpcloud/stackato-dotnet-sdk
By that we can make the SDK database independent using EF core. Please suggest.

[2017-07-05 08:50] zhongyi-zhang commented on #121
Hi,
I think writing a broker in .NET core is ok but there is no need to use the SDK.
The broker doesn't need to call CC API. It is that CC calls the broker API.
What a broker need is to implement the broker APIs. Please refer: https://docs.cloudfoundry.org/services/api.html

[2017-07-05 09:24] #115 closed

[2017-07-06 05:32] zhongyi-zhang commented on #4
resolved by https://github.com/Azure/meta-azure-service-broker/pull/122

[2017-07-06 05:32] #4 closed

[2017-07-06 05:33] zhongyi-zhang commented on #75
resolved by https://github.com/Azure/meta-azure-service-broker/pull/122

[2017-07-06 05:33] #75 closed

[2017-07-12 05:02] #117 closed

[2017-08-11 09:25] mrbuk opened #134 "No tag for 1.4.0"
I do see in https://docs.pivotal.io/partners/azure-sb/release-notes.html that version 1.4.0 was released. Unfortunately I don't find the corresponding tag in GH.

I would be interessted if the following change in master made it to 1.4.0:

* [Bug in 1.3.0](https://github.com/Azure/meta-azure-service-broker/blob/v1.3.0/lib/services/azuremysqldb/index.js#L103)

* [Fix in master](https://github.com/Az

[2017-08-14 01:51] zhongyi-zhang commented on #27
resolved by https://github.com/Azure/meta-azure-service-broker/pull/130

[2017-08-14 01:51] #27 closed

[2017-08-14 02:54] zhongyi-zhang commented on #134
Hi  @mrbuk ,

Thanks for the reminding! The tag for v1.4.0 was just added. But sorry for not including the change you want:(. I think the release here should keep consistency with the pcf tile.
Please look forward to the next version! The change will be included.

[2017-08-14 02:54] #134 closed

[2017-08-14 04:55] mrbuk commented on #134
Thanks for letting me know.

[2017-08-14 05:08] #121 closed

[2017-08-24 06:57] cforce opened #138 "Provide azure-service-bus binder in spring cloud stream"
https://github.com/spring-cloud/spring-cloud-stream

[2017-08-24 06:59] cforce commented on #138
https://github.com/spring-cloud/spring-cloud-stream/issues/1047

[2017-08-24 07:48] bingosummer commented on #138
Thanks @cforce for raising the issue.
Could you please describe roughly what is needed from the broker side? Or the changes are only in spring cloud stream side?

[2017-08-24 13:35] cforce commented on #138
I think requirements may pop up by consumer (Spring cloud stream) implementation, if any.
Would be great if ms would send a pull request for a spring cloud stream binder implementation for azure-service-bus.

[2017-09-11 23:56] dave-read opened #140 "Errors connecting to Azure PostgreSQL service when using VCAP_SERVICES parameters"
We were testing applications where the connection properties exposed via the VCAP_SERVICES environment variable were used to connect to Azure PostgreSQL service instances.

While the jdbcUrl properties seem to work for Java applications, we saw connection errors with drivers that used the connection properties in the following ways:

- Using the individual properties to build a connection string.

[2017-09-12 02:53] #140 closed

[2017-09-29 01:20] abhilash07 opened #147 "Is it possible to create rabbitMQ service instance on cloud-foundry using this broker ??"

[2017-09-29 01:40] bingosummer commented on #147
Thanks for reaching out.
Unfortunately, rabbitMQ is not supported by this broker for now.
AFAIK, rabbitMQ is not a PaaS service. Could you please share your scenario? Are you creating Linux VMs and installing rabbitMQ on the cluster?

[2017-10-11 07:06] cforce opened #148 "Azure IoT Hub binding support"
Allow to handle device communication via amqp,mqtt,https using Azure Iot Hub services.
Provide a binding for spring cloud stream (Source,Sink,..)

[2017-10-13 14:36] kamoljan opened #150 "Any support for PCF 1.12.* and how about stemcell?"

[2017-10-13 15:33] bingosummer commented on #150
Thanks for raising it. We didn't test the broker in 1.12 because 1.12 is not released when we published the latest version of broker. Will test it next week and keep you posted.

[2017-10-16 18:56] pivotal-todd-robbins opened #151 "Broker is dependent on online nodejs buildpack - does not work in offline environment"
Manifest for Azure Service Broker app points to online nodejs buildpack on GitHub:

/var/vcap/data/packages/azure_service_broker/*/manifest.yml:
buildpack: https://github.com/cloudfoundry/nodejs-buildpack

This will not work in environments that might not have access to outside internet. We should use offline buildpack or provide configuration option to set broker into offline mode.

[2017-10-17 06:28] bingosummer commented on #151
Besides #116, we need to change https://github.com/Azure/meta-azure-service-broker/blob/master/manifest.yml#L4 to `nodejs_buildpack`. @zhongyi-zhang

[2017-10-17 20:53] cforce opened #152 "Hdinsight Kafka Brokerage"
Provide Broker to HdInsight Kafka Broker for streaming pipelines into data analytics cluster.
https://azure.microsoft.com/en-us/services/hdinsight/apache-kafka/

[2017-10-18 02:42] zhongyi-zhang commented on #152
@cforce, thanks for raising this!
In fact, this is in-progress in a developing repo (the successor of this repo). And it will be open source in the end of this month. I'll redirect you to the repo at that time.
Could you share the scenario how does a CF app use Kafka? It would help a lot to implement best practice.

[2017-10-18 08:09] cforce commented on #152
You need to put a service broker in front of your cluster, to allow different apps in CF to talk to your kafka on azure. Rather than having to manually tell people the access info each time, they can do cf bind-service SOME_APP AZURE_KAFKA_SERVICE.   hat you have to implement is the Azure kafka service broker (see http://docs.cloudfoundry.org/services/managing-service-brokers.html ). Additionally

[2017-10-18 08:27] zhongyi-zhang commented on #152
Maybe I didn't ask the question clearly. Actually I wonder what credentials to bind to app and how they are used. Whatever, the kafka-connector repo inspires me. Thanks!

[2017-10-18 21:59] cforce opened #153 "Spring cloud services on azure"
According to your overview picture at the bottom a
of https://pivotal.io/platform/pcf-marketplace/data-management/microsoft-azure I expect that  spring Cloud services  runs on azure and is brokered in PCF. How does this work, or is the picture wrong?

[2017-10-25 06:07] zhongyi-zhang opened #154 "Upgrading issue: from v1.2.1 to v1.3.0 or greater, SQLDB"
For any existing SQLDB instances created in v1.2.1, when the broker upgrades from v1.2.1 to v1.3.0 or greater, it fails to bind, unbind, and deprovision.
It is caused by breaking changes at
https://github.com/Azure/meta-azure-service-broker/commit/24d3e9915d094bac5e102c6b806b2b22a5043444#diff-708792d91fe7a3d524417d667ffb63c9R12
https://github.com/Azure/meta-azure-service-broker/commit/24d3e9915d09

[2017-10-30 07:20] kamoljan commented on #150
@bingosummer any update on this issue?

[2017-10-30 07:44] kamoljan opened #157 "Only Basic types of Redis and PostgreSQL are created"
Hi guys!

We are trying to create Redis and PostreSQL with "Standard types" in Apps Manager.
However, in Azure, it creates Basic type.

Is it bug or misconfiguration on our side?

We are on:
- PCF Ops Manager v1.11.11.0
- ERT v1.11.12
- Microsoft Azure Service Broker v1.5.0

Our Microsoft Azure Service Broker's `Default Parameters Config`:
## For Redis
[code]
## For PostgreSQL
[code]

[2017-10-30 08:14] #154 closed

[2017-10-30 08:16] #151 closed

[2017-10-30 14:33] zhongyi-zhang commented on #157
Hi @kamoljan, thanks for raising these.
For Redis, the plans doesn't map to the tiers in Azure. Tier needs to be specified in config. We will fix that to avoid misleading.
For now, to create redis instance with other pricing tier,
**Option1**: modify the `sku` in `Default Parameters Config`:
<pre>
{
  "parameters": {
      "enableNonSslPort": true,
      <b>"sku": {
          "name": "Basic",

[2017-10-31 05:04] kamoljan commented on #157
Hi @zhongyi-zhang !

Thank you for your prompt response.
For Redis, it is clean - we will run it from a command line (`cf create-service ...`) then.

For PostgreSQL, I don't have any cf cli command.
So, you are saying at this moment we cannot create Standard, and everything will be a Basic type?!!

[2017-10-31 05:41] zhongyi-zhang commented on #157
For PostgreSQL, sorry that I didn't know standard tier has been available... please forgot what I said.
And I had a quick try with
<pre>
cf create-service azure-postgresqldb <b>standard100</b> mypostgresqldb
</pre>
Confirmed on Azure portal, it did create a postgres instance with standard tier.
Did you choose `standard100` or any other standard plan?

[2017-10-31 06:31] kamoljan commented on #157
@zhongyi-zhang thanks!
It worked with `standard100`.
Also worked with `standard200`, just had to adjust storage size.

[code]
[code]

Thanks a lot!

[2017-10-31 06:32] #157 closed

[2017-11-05 02:36] kamoljan opened #159 "Alerts and monitoring pivotal critical metrics"
Hi Azure Team!

I was wondering if you have any work done to create alerts for pivotal metrics like this [one] (https://docs.pivotal.io/pivotalcf/1-12/monitoring/kpi.html) ?

Thanks

[2017-11-06 05:31] HDYA commented on #159
Hi @kamoljan

Yes we do.
We have OMS support with our [Firehose Nozzle](https://github.com/Azure/oms-log-analytics-firehose-nozzle), you can find templates for alerts [here](https://github.com/Azure/azure-quickstart-templates/blob/master/oms-cloudfoundry-solution/nested/omsAlerts.json), you may also find other templates about OMS workspace, views and saved searches there.

By the way, service brok

[2017-11-07 08:29] kamoljan commented on #159
@HDYA thank you very much for your prompt response!
And thank you very much for the work you have done!

[2017-11-07 08:29] #159 closed

[2017-11-09 08:44] bingosummer commented on #150
@kamoljan Sorry for the late response. Yes. 1.12 is supported.

[2017-11-09 08:44] #150 closed

[2017-11-16 15:25] aguedes-pivotal opened #163 "Creating services on West Europe region times out"
Hi,

Using the service broker to create services on the West Europe region often times out. This happens very often while trying to create azure-sqldb instances.

**That's the response I get:**
`Server error, status code: 504, error code: 10001, message: The request to the service broker timed out: https://azure-service-broker.apps.pcfdomain/v2/service_instances/UUID?accepts_incomplete=true`

**Th

[2017-11-17 05:32] zhongyi-zhang commented on #163
I also hit it once or twice. And I'm afraid the broker could not help to solve it...
https://github.com/Azure/azure-quickstart-templates/issues/2238
https://stackoverflow.com/questions/42428739/azure-cant-remove-sql-server
See above two pages, the issue could be hit even with azure template and portal.
Code 504 is responded from Azure. And it means that one server did not receive a timely response

[2018-03-26 19:06] nevenc-pivotal opened #166 "RedisCache Service"
I discovered a possible problem with Azure Service Broker (the one that gets created out of the box with Azure Marketplace PCF install):

default RedisCache config is:

[code]

So, non-SSL port is not enabled by default (6379) - and service broker adds both ports to ENV when service is bound, e.g.

[code]

Problem is that if nonSSL port is disabled (the case of default Azure Marketplace PCF instal

[2018-03-27 03:13] zhongyi-zhang commented on #166
Hi @nevenc-pivotal, thanks for raising it.
The `redisUrl` was added to be compatible with Spring Cloud Redis Connector. Up to now, the Connector can only recognize `redis` scheme and doesn't support SSL. (FYI: https://github.com/spring-cloud/spring-cloud-connectors/blob/master/spring-cloud-core/src/main/java/org/springframework/cloud/service/common/RedisServiceInfo.java#L14) So we just deliver `re

[2018-04-03 06:26] yukikashiwabara opened #167 "Redis Cache Service Plan on PCF"
I could not create Standard services for Azure Redis even I select standard.
default SKU is created any time when I tried to create it from PCF Apps Manager.

Are there any mean to selectable service plans for Redis Cache?
It looks developer needs to define the SKU every time.

[2018-04-12 08:37] #167 closed

[2018-04-12 08:40] zhongyi-zhang commented on #167
Hi @yukikashiwabara, thanks for raising the issue. This is fixed and will be included in the next release. The release date is expected in next week.

[2018-04-23 07:58] codevulture opened #170 "<Query> Is this repo deprecated as similar repos are present :[ https://github.com/Azure/open-service-broker-azure ]"
[Azure-osba-repo](https://github.com/Azure/open-service-broker-azure)

[2018-04-24 04:12] zhongyi-zhang commented on #170
@codevulture yes, OSBA is the successor of this repo. MASB will be replaced by OSBA over time.

[2018-04-24 04:50] codevulture commented on #170
thanks!

[2018-04-24 04:50] #170 closed

[2018-06-27 19:24] lakshmantgld opened #178 "Creating multiple database in a single PGSQL cluster"
This is more of a documentation question.

### Background:
**Platform:** `PCF`
*Microsoft Azure Service Broker:* `v1.5.2`
All apps in a given space use the same PGSQL instance/cluster.

### Problem:
- All the apps use the same `username`, `database` to connect to the cluster. I would like to create a separate username & database for each `CF application` connected to the cluster. Is that possible?

[2018-08-01 06:58] volpav opened #181 "Azure Redis cache doesn't support updating service instance"
As per [Open Service Broker API](https://github.com/openservicebrokerapi/servicebroker/blob/v2.13/spec.md#updating-a-service-instance),  you can implement `PATCH /v2/service_instances/:instance_id` to allow updating an existing service broker instance. This doesn't seem to be supported by Azure Redis service:

[code]

Looking at https://github.com/Azure/meta-azure-service-broker/blob/master/lib/se

[2018-08-03 09:15] zhongyi-zhang commented on #181
@volpav thanks for raising it. I'll implement the Update API to support updating service plan next week.

[2018-08-08 06:24] bingosummer opened #182 "Re-generate service broker tile to use xenial stemcell"

[2018-08-20 06:57] zhongyi-zhang commented on #181
Fixed via #183.

[2018-08-20 06:57] #181 closed

[2018-08-29 08:37] gumichel commented on #166
Hi @zhongyi-zhang,
We are facing this issue in our project. It prevents us from using Redis with Spring Cloud Redis Connector with SSL enable.

[2018-08-29 08:50] zhongyi-zhang commented on #166
Hi @gumichel, SSL is always enabled in Azure Redis Cache Service. The option in provisioning parameters is for **non**-SSL port. To use Spring Cloud with Azure Redis, now the only choice is to enable non-SSL because Spring Cloud Redis Connector doesn't support connecting to Redis host with SSL.

[2018-08-30 17:16] scottfrederick commented on #166
@zhongyi-zhang Spring Cloud Connectors is pretty flexible in terms of what it can look for in the `credentials` payload for a bound service. It can use discrete host, port, username, and password fields, or it can use a URL. See [RedisServiceInfoCreator](https://github.com/spring-cloud/spring-cloud-connectors/blob/9e1277c7c20e09601305dc4f05e095daf54e566c/spring-cloud-cloudfoundry-connector/src/mai

[2018-08-30 17:18] scottfrederick commented on #166
Also, is the use of `6380` for a secure TLS port a convention followed by other Redis providers, or is that just something that Azure Redis does?

[2018-08-31 03:12] zhongyi-zhang commented on #166
@scottfrederick yeah, I got this. The broker always tries to be compatible with Spring Cloud Connectors. Thanks for the explanation.

Would it be feasible for the operator to decide at tile installation time, or the developer decide at service instance creation time, whether secure or non-secure connections should be used and provide a single port or URL in the credentials?

I think the broker sho

[2018-09-03 02:59] zhongyi-zhang commented on #178
@lakshmantgld thanks for the feedback and I am really sorry for the long delayed response...

MASB is in maintenance mode now. So this feature might not be added, in principle. As the successor of MASB, PostgreSQL and MySQL in [OSBA](https://github.com/Azure/open-service-broker-azure) implemented that different users are delivered in different bindings. Welcome to OSBA!

The numbers indicate DTUs.

[2018-09-11 09:00] jmichelgarcia commented on #166
@zhongyi-zhang https://github.com/spring-cloud/spring-cloud-connectors/issues/235 has been fixed and merge into master is in progress. https://github.com/Azure/open-service-broker-azure/pull/564

[2018-09-11 19:04] scottfrederick commented on #166
This should be resolved in Spring Cloud Connectors [2.0.3.RELEASE](https://github.com/spring-cloud/spring-cloud-connectors/releases/tag/v2.0.3.RELEASE).

[2018-09-12 02:12] zhongyi-zhang commented on #166
@jmichelgarcia @scottfrederick thanks for reminding! I'll fix it with `rediss` schema.

[2018-09-14 08:09] zhongyi-zhang commented on #166
Fixed via https://github.com/Azure/meta-azure-service-broker/pull/188.
I've tried `"enableNonSslPort": false` successfully with Spring Music by upgrading the Connector to 2.0.3.RELEASE.

BTW, my Spring Music is at this commit: https://github.com/cloudfoundry-samples/spring-music/commit/71673e61c4118c2d44e6db047f95f31ecf24ae82. I don't know why newer Spring Music with Spring Boot >= 2.0 can't start

[2018-09-14 08:09] #166 closed

[2018-09-17 13:56] zhongyi-zhang opened #189 "azure-sqldb-failover-group module: unbinding issue in ExistingDatabaseInFailoverGroup plan"
Unbinding in `ExistingDatabaseInFailoverGroup` plan fails for an earlier deletion of the corresponding `SecondaryDatabaseWithFailoverGroup` plan instance. Because it fails to delete the user created in binding as the database is no longer existed on Azure.
Normally, an `ExistingDatabaseInFailoverGroup` instance should be deleted before the `SecondaryDatabaseWithFailoverGroup` instance. But the mec

[2018-12-04 16:55] dawu415 opened #198 "Installing the tile version 1.10.0 on PCF 2.2 seems to hang on `Installing any new modules (package.json)` when running the deploy broker errand"
After hanging for about 15 minutes on `Installing any new modules (package.json)`, we receive the following error:

`Stderr     Error staging application azure-service-broker-1.10.0: timed out after 15 minute(s)`

We have tried this 4 times already but cannot seem to find the problem.

Some other notes - we have tried:
1) Downloading the 1.10.0 release here, fill in the manifest.yml and pushed it

[2018-12-05 02:57] zhongyi-zhang commented on #198
Is it possible that your environment blocked some npm repos? The log comes from the nodejs-buildpack. Seems it cuts some logs by "Installing any new modules (package.json)". Could you have a try "cf ssh" and manually "npm install" inside the app container?

[2018-12-05 04:59] dawu415 commented on #198
Could there be something missing in the node_modules?  Using the existing files from meta-azure-servicebroker.zip, we ran backed up the node_modules directory and ran npm install on our local machines and did a diff of the node modules and the back up directory.

There's around 200 modules missing.
[code]

Would it be possible to package a tile and service broker app that has all the dependencies?

[2018-12-05 06:50] zhongyi-zhang commented on #198
The packages in the above list should be all dev dependencies only. But yeah you remind me that MASB vendors all the prod dependencies to make it work in strict network environment. (You can have a try `npm install --production`. No more packages would be installed.)
And I take a look at the history log from the test on PCF 2.2 in our pipeline. Compared to yours, it has some extra logs.

[code]
….

[2018-12-05 08:02] zhongyi-zhang commented on #198
Yes, `fsevents` is optional and supports darwin only. Non-darwin OS gets something like unless using `--no-optional` for `npm install`:

[code]

So it is not vendored. Maybe the buildpack still had a try to install it, so you hit the timeout issue?

[2018-12-05 08:53] zhongyi-zhang commented on #198
Could you have a try `npm install --production --no-optional --package-lock` (requires npm version >= 5)? If it works for you, I'll create a PR soon and publish a patch version of the tile.

[2018-12-05 09:12] dawu415 commented on #198
It didn't work and is still timing out at the same point.     It is now reading `Installing any new modules (package.json + package-lock.json)`

[2018-12-05 10:07] dawu415 commented on #198
I tried fresh node_modules and removed package-lock.json again and ran the
npm shrinkwrap.  CF pushed and waited.  The same point had timed out.   I'm
going to try the shrinkwrap along with the previous suggestion with the
--package-lock, CF push and wait. :)

On Wed, Dec 5, 2018, 5:26 PM Zhongyi Zhang <notifications@github.com> wrote:

[2018-12-06 03:33] dawu415 commented on #198
@zhongyi-zhang Tried the above and it failed with the 15-minute timeout as well.
[code]

[2018-12-06 08:16] zhongyi-zhang commented on #198
Okay, I looked into the buildpack source code and located the issue [here](https://github.com/cloudfoundry/nodejs-buildpack/blob/master/src/nodejs/npm/npm.go#L44-L51).
And according to you logs, the rebuilding succeeded. Then the buildpack ran "npm install" so that it was going to install the missing dev dependencies what are not needed. Since your environment can't access npm registry, that led t

[2018-12-07 05:35] #198 closed

[2018-12-20 05:56] yukikashiwabara opened #202 "We cannot choose standard plan in Pivotal Tile"
We cannot select Standard plans for Postgres in 1.10.0 version.
Could you check it?

[code]

[2018-12-20 06:16] zhongyi-zhang commented on #202
Hi @yukikashiwabara, there was a pricing model breaking change from Gen4 hardware to Gen5 in Azure PostgreSQL Service. The old pricing model has Basic, Standard, and Premium tiers. While the new model has Basic, General Purpose, and Memory Optimized. FYI: https://azure.microsoft.com/en-us/pricing/details/postgresql/. Now both Gen4 and the old pricing model are deprecated and not supported in most

[2018-12-24 09:05] keliangneu opened #203 "cf enable-service-access azure-postgresqldb is not work"
Hello,

I'm use azure service broker 1.10.1 and PCF 2.2, when I run cf marketplace command I cannot find azure-postgresqldb, then I run command: cf enable-service-access azure-postgresqldb, it returns "$ cf enable-service-access azure-postgresqldb
Enabling access to all plans of service azure-postgresqldb for all orgs as admin...
FAILED
Service offering azure-postgresqldb not found"

[2018-12-25 02:34] David-Pivotal commented on #203
@zhongyi-zhang Thanks for checking. Please be noted this issue happens in Azure China. So could you please have a check in Azure China?

[2018-12-25 02:35] zhongyi-zhang commented on #203
Oh, thanks for the hint. I'll have a try.

[2018-12-25 03:00] yukikashiwabara commented on #202
Thank you very much for the response.
At least, I understand it is not bug.

Could you give us the planning date when the new plan will be supported?

Regards

[2018-12-25 03:04] zhongyi-zhang commented on #203
@David-Pivotal ah, I remind that it is so in Azure China. When the service broker adding PostgreSQL service module, it was still Preview and only Preview in Azure Public Cloud. So we didn't expose it to the catalog when the environment is Azure China (or Azure Germany / Azure US Gov). Since this repo got into maintenance mode, we didn't continue catching up with the public cloud GA or sovereign cl

[2018-12-25 07:33] David-Pivotal commented on #203
@zhongyi-zhang Thanks for your help!

[2018-12-25 07:34] David-Pivotal commented on #203
@keliangneu both postgres db and mysql db are not supported in Azure China as per link https://github.com/Azure/meta-azure-service-broker/blob/master/docs/how-admin-deploy-the-broker.md#deploy-the-meta-azure-service-broker-as-an-application-in-cloud-foundry.

[2018-12-25 07:36] zhongyi-zhang commented on #203
@David-Pivotal they are supported in Azure China but not in this service broker...

[2018-12-25 13:31] keliangneu commented on #203
@zhongyi-zhang @David-Pivotal  Thanks for your help. Since it's not support azure China for the moment, is there any workaround?  and do you know the ETA of azure China?

[2019-01-03 21:21] NingKuang commented on #203
@keliangneu Thank you for the feedback, could you share a little more background for this request? Do you plan to use MSBA for production or testing, what is your schedule? Feel free to email us (azcfengg@microsoft.com) the details, that will help us finalize the priority.

[2019-01-09 01:20] NingKuang commented on #202
Hi, @yukikashiwabara  could you share more background on your request? What company/project is depending on this, what is your project timeline requirement? Feel free to send the info via email. Thanks.

[2019-01-14 21:05] #203 closed

[2019-01-18 06:13] zhongyi-zhang commented on #202
Solved by #204. Planning to release a new tile next week.

[2019-01-18 06:13] #202 closed

[2019-01-18 19:30] #182 closed, assigned to zhongyi-zhang

[2019-01-28 13:41] bruxelles86 commented on #202
Hi. I'm a colleague of @yukikashiwabara (we're working for Renault). As you say, it doesn't seem possible at the moment to create/scale to 'general purpose' or 'memory optimized' Postgres databases. This would be a useful feature, as one of our 'basic' service instances in production was overloaded, and a colleague just needed to manually provision a replacement. It would be great to be able to do

[2019-02-07 16:55] robdickens commented on #147
Appreciate this has been open for a while - but I was wondering if there was any hope of exposing rabbitmq on this broker?

It happens to be used with Spring Cloud Data Flow and the pivotal cloud foundry does expose rabbitMQ on it's platform

[2019-02-07 18:48] cdelashmutt-pivotal commented on #147
This repo is for the service broker for Azure managed services.  This broker exposes those existing services through the CF marketplace.  The broker currently does expose the Azure Event Hubs and Azure Service Bus services that can speak AMQP 1.0, but it is opaque as to whether RabbitMQ specifically is behind those services or not.

If you need RabbitMQ specifically as a brokered service, then the

[2019-02-08 09:01] robdickens commented on #147
Thanks @cdelashmutt-pivotal for the response and information.
We're going the OSS CF route on azure at the moment but I'll certainly check out your suggestions!

[2019-02-11 14:41] cdelashmutt-pivotal commented on #147
Good deal!

If you are going OSS CF, then you could always simply just deploy RabbitMQ on VMs (or perhaps find a solution in the Azure Marketplace), and then register it as a User Provided Service https://docs.cloudfoundry.org/devguide/services/user-provided.html.

I just wanted to call this out in case you wern't aware.

[2019-02-11 16:06] robdickens commented on #147
Thanks @cdelashmutt-pivotal ! I actually wasn't familiar with user provided services. I've been trying to deploy the meta azure service broker so that I could see if Event Hubs would work with Spring Cloud Data Flow (unfortunately having droplet compile issues so I'll raise a separate issue).
I'll check out the user provided service approach.

[2019-02-15 12:20] IObert opened #207 "Invalid .npmrc confi causes ENOTCACHED error"
Hi,

I noticed that the line `offline=true` in the .npmrc file causes the following error (on two distinct machines):
[code]

It works fine when I remove the line (I noticed that this line has been added because of #199 but I didn't encounter that problem)

[2019-02-18 07:36] zhongyi-zhang commented on #207
#199 only occurs in CF envs which don't allow to access npm registry. It does need `offline=true` in .npmrc to be pushed to CF. So it is a dilemma for the broker...… Yeah you can just delete it and run `npm install`. Or, a tricky way is to downgrade npm to 3.x (because older npm doesn't read project-level .npmrc). Sorry for the inconvenience...

[2019-02-27 15:45] robdickens opened #209 "Failed to compile droplet: Failed to run all supply scripts: exit status 14"
Hi,

I'm trying to cf push the service broker as per the instructions here - https://github.com/Azure/meta-azure-service-broker/blob/master/docs/how-admin-deploy-the-broker.md

When I get to the cf push section, i get the following error

`npm ERR! Maximum call stack size exceeded`
`npm ERR! A complete log of this run can be found in:`
`npm ERR!     /home/vcap/.npm/_logs/2019-02-27T14_59_54_913Z-d

[2019-02-28 03:32] zhongyi-zhang commented on #209
It looks like a similar issue to https://github.com/Azure/meta-azure-service-broker/issues/207. Could you have a try removing `offline=true`?

[2019-02-28 17:20] robdickens commented on #209
Hi @zhongyi-zhang - this does get past the immediate error.
Will this cause me any issues moving forward?

[2019-02-28 17:24] zhongyi-zhang commented on #209
If your CF environment for the broker app doesn't block NPM registry, that's totally fine. Else, you can run `npm install` locally, add `offline=true` back, and push, it should also work well.

[2019-03-01 09:51] robdickens commented on #209
That's great, thanks for the help and information!

[2019-03-01 09:51] #209 closed

[2019-03-05 05:21] yukikashiwabara opened #210 "application domain will be used as a host for azure-service-broker application when we deploy this Service Broker from PCF Tile."
Host for this application should be set as system domain.

[2019-05-15 05:25] NingKuang commented on #210
hi, Cloud you clarify your case? By default the MSBA PCF file is set to system domain.

[2019-05-15 05:40] NingKuang commented on #189
The workaround is to just ignore the unbind error, as it actually succeed. it is just did not remove the user successfully.

[2019-05-15 05:41] #189 closed

[2019-09-25 21:47] kevinhillinger commented on #207
Per the documentation [here](https://docs.npmjs.com/misc/config), the better option is ```prefer-offline=true```. Otherwise as is noted by @IObert, when building the service broker app, you must do the following on the bosh VM:

[code]
This forces the initial installation of all dependencies, which then allows the ```cf push``` to work.

If a CF environment doesn't have access to NPM repo, the iss

[2019-09-25 21:51] kevinhillinger commented on #152
This issue is two years old. Recommend closing @thomas1206

[2019-09-25 21:53] kevinhillinger commented on #114
@thomas1206 is this still relevant or can we close?

[2019-09-25 21:53] kevinhillinger commented on #163
@zhongyi-zhang @thomas1206 recommend closing this issue. Two years old and no longer relevant.

[2019-09-25 21:54] kevinhillinger commented on #178
OSBA is no longer supported. @zhongyi-zhang recommend either placing in the maintenance project or closing this issue.

[2019-09-25 21:55] kevinhillinger commented on #138
Recommend closing @zhongyi-zhang @thomas1206 as it's two years old now, and no longer relevant.

[2019-09-25 23:53] kevinhillinger commented on #147
@thomas1206 this issue can be closed.

[2019-09-26 03:38] #152 closed

[2019-09-26 03:48] zhongyi-zhang commented on #114
OSBA did the job.

[2019-09-26 03:48] #114 closed

[2019-09-26 03:48] #163 closed

[2019-09-26 03:50] #178 closed

[2019-09-26 03:50] #138 closed

[2019-09-26 13:18] kevinhillinger commented on #153
@thomas1206 @zhongyi-zhang Recommend closing this issue. It's 2 years old, and not relevant to azure service broker.

[2019-09-26 13:19] kevinhillinger commented on #148
IoT Hub service support not on a roadmap. Two years in, Service Broker is in maintenance. @thomas1206 @zhongyi-zhang recommend closing this issue.

[2019-10-21 19:38] Pivotal-Jayson-Hairston opened #214 "Postgres JDBC String generation does not allow the insertion of required custom parameters for a successful SSL connection"
A Pivotal Customer has reported that they are encountering an issue.

Apparently starting with the Postgres JDBC Driver v. 42.2.5 the SSL behavior changed - see https://www.kobelnet.ch/2019/05/02/configure-java-jdbc-to-connect-to-postgresql-with-jre-certificate-validation

The problem is that currently, the Postgres JDBC String generated by the Azure Service Broker is not allowing the insertion of

[2020-04-17 08:25] ChrisLeeBare commented on #214
Hi,

is there any progress in this issue, because we are currently planning on migrating all data services from pivotal to our azure and we also ran into this issue.
We'll try the workaround but this is very inconvenient when having a couple of services using the azure postgresql.

Regards

[2020-07-06 12:05] gavinvandermerwe opened #219 "JDBC connection string hard codes SSL to true"
Hi

We have the following settings configured for the azure broker service tile in opsman:

[code]

Notably is the `sslEnforcement` is disabled, this breaks postgresql connections for apps running in the foundation that use jdbc connection string because the ssl parameter is hard coded to true.

https://github.com/Azure/meta-azure-service-broker/blob/64a7d1c74ef1fc39042f969d5615f8b1f26a8302/lib/se

[2020-09-24 20:02] gavinvandermerwe opened #221 "Postgres databases do not support "private links""
Hi

There is a preview offering from Microsoft called "private links" which was released Jan 2020, please see link here: https://azure.microsoft.com/en-gb/updates/private-link-for-azure-database-for-postgresql-single-server-is-now-in-preview/

This is not supported *yet* by this tile although we would like to see it happen sometime near in the future.

The reason this is important to us is because

[2020-09-24 20:24] gavinvandermerwe opened #222 "Azure storage does not support changing the "accessTier" or V2"
Hi

We are using this tile to provision azure storage blobs. The first thing we noticed was that we were not getting next gen V2 storage. We also dug a little deeper to see why.

It would seem that we are using the `v2016-01-01` version of the storage API.

 -  https://github.com/Azure/meta-azure-service-broker/blob/99f377a18fa6e88f461c8147937304ed23f2028c/lib/common/index.js#L226

Now what is int

[2020-09-25 09:33] kokeisd opened #223 "Backup retention period for Standard & Premium service plan"
Azure has changed the default backup retention period for standard and premium from 35 to 7 days in mid 2019, but the description in this service broker is still 35 days. Please correct the description or add some steps to the broker to modify backup retention to 35days to match the service plan description. thanks.

[2020-12-15 10:08] jainath23 opened #224 "How to create PCF new Service with Certificate instead of clientSecret?"
{
  "uri": "https://akv-xxx-dev.vault.azure.net/",
  "clientId": "d8472266-xxx-xxx-934f-xxx",
  "clientSecret": "xxxxxx",
  "tenantId": "xxxxx-55b6-466e-a7af-4ad1a1b79713"
}

How to create PCF new Service with a Certificate instead of clientSecret??